body {
  background-color: #282c35;
}

/* navbar CSS */
.navbar {
  background-color: #282c35;
  opacity: 0.9;
}

.nav-link {
  color: rgba(253, 253, 253, 0.767);
}

.active {
  color: rgba(253, 253, 253, 0.767);
  text-shadow: 1px 1px 1px black, 0 0 4px rgba(253, 253, 253, 0.671),
    0 0 5px rgba(253, 253, 253, 0.671);
}

/* carousel CSS */
.main-carousel {
  margin-top: 60px;
}

/* homepage list */
.table {
  margin-top: 10px;
}

.list-group-item {
  color: rgba(253, 253, 253, 0.767);
  background-color: #212020;
}
