.cardInfo{

    background-color: #222;
    position: fixed;
    width: 30%;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;

}

.cardImage{

    

}

.list-group{

    width: 50%;
    margin-left: 10%;

}

.btn{

    margin-left: 10%;

}

/*.cardDescription{

    margin: 20px;

} */