.cardInfo{

    background-color: #222;
    position: fixed;
    width: 30%;
    height: 75%;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;

}

.cardDescription{

    

}

.list-group{

    width: 50%;
    margin-left: 10%;

}

.btn .cardImage{

    margin-left: 10%;

}

.cardImage{

    margin-left: 10%;

}
/*.cardDescription{

    margin: 20px;

} */