.cardInfo{

    background-color: #222;
    /* border-color: rgb(20, 20, 20);
    border: 10px;

    position: absolute;
    right: 100px;

    width:35%;
    height: auto;

     */

}

/* .list-group{

    width: 50%

}

.cardImage{

    margin: 10px;

}

.cardDescription{

    margin: 20px;

} */